/* BORDER SWITCH FOR DESIGN */

/* * {
  border: 1px solid red;
} */

/* GENERAL STYLES */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #a8a8a8;
  font-family: "Cairo", sans-serif;
}

p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #525252;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 900;
  color: #525252;
}

button {
  color: #525252;
  border: 2px solid #525252;
  border-radius: 5px;
  transition: all 0.07s ease;
}

button:hover {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

header h1 {
  flex: 0 0 auto;
}

/* BUTTON AREA */

.button-area {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.choice {
  height: 75px;
  width: 75px;
  margin: 10px;
  font-size: 40px;
  font-weight: 900;
}

.winner-text {
  font-size: 40px;
  font-weight: 700;
}

/* GAME AREA */

.game-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  height: 300px;
}

.game-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-right: 3px dotted #525252;
}

.game-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.player-token,
.computer-token {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  margin: 10px;
  font-size: 100px;
  font-weight: 900;
  background-color: #ffffff;
  color: #525252;
  border: 2px solid #525252;
  border-radius: 5px;
  transition: all 0.07s ease;
}

.token-win {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.player-score,
.computer-score {
  font-size: 60px;
  margin: 0 20px;
}

/* INFO AREA */

.info-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.info-text,
.info-text2 {
  flex: 0 0 auto;
  font-size: 30px;
  margin: 0;
}

.play-again {
  height: 75px;
  width: 300px;
  margin: 10px;
  font-size: 40px;
  font-weight: 900;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background-color: #525252;
  height: 30px;
}

.footer-text {
  color: #ffffff;
}
